@model IEnumerable<PizzaWebApplication.Models.PizzaViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Pizzas</h1>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toppings)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(e=>e.OrderId))
        {
        <tr>
            <td>
                @Html.DisplayTextFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toppings)
            </td>
        </tr>
        }
    </tbody>
</table>


