@model PizzaWebApplication.Models.StoreOfSpecificCustomerModel

@{
    ViewData["Title"] = "Login";

    if (@Model.CVM.Lname.Equals("admin"))
    {
        Layout = "_LayoutAdmin";
    }
    else
    {
        Layout = "_LayoutPortal";
    }
}

<h1>Welcome @Model.CVM.Fname!</h1>

<h4>Please Select a location Or wait 24 hours!</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Available Locations:</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LOS)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreLocation)
            </td>
            @if (item.date > 24) {
            <td>
                @Html.ActionLink("order", "StorePortal", "Store", new { item.StoreName, Model.CVM.Fname })
            </td>
            }
            else
            {
                <td>
                    Please Wait @decimal.Round(Convert.ToDecimal(24-item.date), 2) hours before ordering here again.
                </td>
            }
        </tr>
        }
    </tbody>
</table>


<div>
    @*<a asp-action="Index">Back to List</a>*@
    <a href="/Home/Index">back to</a>
</div>

