@model IEnumerable<PizzaWebApplication.Models.TempCustomerOrder>

@{
    ViewData["Title"] = "Check Out";
}

<h1>Check Out</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.PizzaId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Toppings)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sauce)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cheese)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pepperoni)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sausage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pineapple)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Crust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CustId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreId)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.PizzaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Toppings)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sauce)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cheese)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pepperoni)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sausage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pineapple)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Crust)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CustId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreId)
                    </td>*@
                <td>
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<h4>Total: @ViewBag.total</h4>
<div class="form-group">
    <input asp-action="viewOrder" asp-controller="Order"
           type="submit" value="Place Order" class="btn btn-primary" />
</div>
<div>
    <a asp-action="Delete" asp-controller="Order">Cancel Order</a>
</div>
