@model PizzaWebApplication.Models.StoreOptionsViewModel

@{
    if (CustomerInfo.Lname.Equals("admin"))
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_LayoutPortal";
    }
    ViewData["Title"] = "StorePortal";
}

<h1>@Model.storeName</h1>

<div>
    <h4>Welcome: @Model.Fname</h4>
    <hr />
    <form asp-action="Create" asp-controller="Login">
        <div class="text-center">
            <button onclick="location.href='@Url.Action("OrderPremadePizza", "Pizza")'" type="button" class="btn btn-primary">Order Premade</button>
            <button onclick="location.href='@Url.Action("CreateNewPizza", "Pizza")'" type="button" class="btn btn-primary">Custom Orders</button>
            <button onclick="location.href='@Url.Action("MyOrder", "Order")'" type="button" class="btn btn-primary">View Past Orders</button>
        </div>
    </form>
</div>

